<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :picture, as: :attachinary %>
    <%= f.input :price %>
    <%= f.input :date %>
    <%= f.input :place %>
    <%= f.input :description %>
  </div>
<% end %>

