 <!--Page title -->
 <div class="header-page">
    <h1>Result for your search</h1>
  </div>

  <div class="container">
    <!--Display each event in a card -->
    <% @events.each do |event| %>
    <div class="card">

      <!-- Event header -->
      <div class="card-header">
        <div class="card-title">
          <h3><%= event.name %> - Category: <%= event.category %></h3>
        </div>
      </div>

      <!-- Event content -->
      <div class= "card-content">
        <div class="card-img">
        </div>
        <div class="card-spec">
          <div class="card-date">
            <p>Date: <%= event.date %></p>
          </div>
          <div class="card-price">
            <p>Price: <%= event.price %> €</p>
          </div>
          <div class="card-place">
            <p>Entries available: <%= event.place %></p>
          </div>
          <div class="card-description">
            <p>About: <%= event.description %></p>
          </div>
        </div>
        <div class="card-button">
          <%= link_to 'Book', new_event_booking_path(event.id), class: "btn btn-primary btn-center" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
