<!--Page title -->
<div class="header-page text-center">
  <% if @city.blank? && params[:search][:category_id].blank?%>
    <h1>Check out the events we found ! <p style="font-size: 13px";>( <%= @events.count %> found )</p></h1>
  <% elsif @city.blank?  %>
    <h1>Check out the events we found in <%= @events.first.category.name %><p style="font-size: 13px";> ( <%= @events.count %> found )</p></h1>
  <% else %>
    <h1>Check out the events we found close to <%= @city %></h1>
  <% end %>
</div>
<div class="container">
  <!--Display each event in a card -->
  <% @events.each do |event| %>
    <div class="card">
      <!-- Event header -->
      <div class="card-header">
        <div class="card-title">
          <h3><strong><%= event.name %></strong> - Category: <%= event.category.name %></h3>
        </div>
      </div>
      <!-- Event content -->
      <div class= "card-content">
        <div class="card-img">
          <% if event.picture? %>
            <%= cl_image_tag event.picture.path, width: 150, height: 150, crop: :fill %>
          <% end %>
        </div>
        <div class="card-spec">
          <div class="card-date">
            <p><strong>Date:</strong> <%= event.date.strftime(" Starts on %B %d at %I:%M %p") %></p>
          </div>
          <div class="card-place">
            <p><strong>Entries available:</strong> <%= event.place %></p>
          </div>
          <div class="card-description">
            <p><strong>About:</strong> <%= event.description %></p>
            <p><%= event.address %></p>
          </div>
          </div>
          <div class="card-price">
            <p><strong>Price:</strong> <%= event.price %> €</p>
          </div>
          <div class="button-see-details">
            <p><%= link_to 'See details', new_event_booking_path(event.id), class: "btn btn-primary btn-center" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
