<div class="container" style="">
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1 style="padding-top: 0px;"> New event <br/> <small> Please give the next informations </small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-3">
        <%= f.input :name, label: "Enter the name of your event", placeholder: "Soirée foot" %>
      </div>
      <div class="col-md-offset-1 col-md-3">
        <%= f.input :category_id, label: "Select your category",  collection: Category.all%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-7">
        <%= f.input :address, label: "Enter the full address of your event", placeholder: "1 la carre, 33710 Saint Seurin de bourg" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-2">
        <%= f.input :price, label: "Price to to take part in", placeholder: "10 €" %>
      </div>
      <div class="col-md-2">
        <%= f.input :place, label: "How many Guests ?", placeholder: "5 Guests"  %>
      </div>
      <div class="col-md-3">
        <%= f.input :date, label: "Date of your event", as: :string, input_html: { class: "datetimepicker "} %>
      </div>
    </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-3">
          <div class="form-group text-center">
            <%= f.input :picture, as: :attachinary, label: "Upload event's picture"%>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-7">
        <div class="form-group">
          <%= f.input :description, label: "Describe your event", as: :text %>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="col-md-offset-2 col-md-7">
        <div class="form-group">
          <%= f.input :infos, label: "Give more information", as: :text %>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-offset-5 col-md-1">
           <%= f.submit class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
